@import "variables";

%customLinks-footerSection1Header {
  font-weight: 400;
  font-size: 17px;
  line-height: 19.55px;
  color: $smallFontSize-Texts;
  text-decoration: none;
  text-transform: uppercase;
}
